@import "../App/App.module.scss";

.postBlock {
  width: 1170px;
  height: 741px;
  margin: 0 auto;
  background-color: $background_color;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @extend %fontBody;

  h2 {
    @extend %fontHeading;
    margin-bottom: 50px;
  }

  form {
    width: 380px;
    height: 570px;
    margin-bottom: 50px;
    margin: 0 auto;
    .inputContainer {
      border-color: #000;
      height: 262px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input {
        width: 380px;
        height: 54px;
        border: 1px solid #d0cfcf;
        border-radius: 4px;
      }
    }
    .phoneInputLabel {
      height: 14px;
      display: flex;
      margin-left: 15px;
      margin-bottom: 25px;
    }

    .inputRadioContainerHeader {
      display: flex;
      margin-bottom: 11px;
    }

    .inputRadioContainer {
      width: 380px;
      height: 125px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: center;
      margin-bottom: 47px;
      input {
        margin-right: 12px;
      }
    }

    .inputUploadContainer {
      .inputUploadFile {
        width: 380px;
        height: 54px;
        margin-bottom: 50px;
        background: #f8f8f8;
        border: 1px solid #d0cfcf;
        border-radius: 4px;
      }
      .inputUploadFile::-webkit-file-upload-button {
        width: 110px;
        height: 51px;
        background: #f8f8f8;
        border: 1px solid rgba(0, 0, 0, 0.87);
        border-radius: 4px 0px 0px 4px;
      }
    }

    button {
      @extend %buttons;
      background-color: $button_disabled;
    }
  }

  button {
    @extend %buttons;
  }

  @media (max-width: $large) {
    width: 904px;
    height: 741px;
    margin: 0 auto;
    form {
      height: 567px;
    }
  }

  @media (max-width: $medium) {
    width: 704px;
    height: 741px;
    margin: 0 auto;
    form {
      height: 567px;
    }
  }
  @media (max-width: $small) {
    width: 328px;
    height: 781px;
    margin: 0 auto;
    form {
      width: 328px;
      height: 567px;
      .inputContainer {
        input {
          width: 328px;
        }
      }
      .inputUploadContainer {
        .inputUploadFile {
          width: 328px;
        }
      }
    }
  }
}
