// Braking point
$small: 360px;
$medium: 768px;
$large: 1024px;

// Typography
%fontHeading {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

%fontBody {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

// Color palette
$primary_color: #f4e041;
$secondary_color: #00bdd3;
$background_color: #f8f8f8;

%buttons {
  background-color: $primary_color;
  color: #000;
  height: 34px;
  width: 100px;
  border-radius: 80px;
  border: none;
  @extend %fontBody;

  &:hover {
    background-color: #ffe302;
  }
  &:disabled {
    background-color: #b4b4b4;
    color: #fff;
  }
}

* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #f8f8f8;
}

.container {
  width: 2560px;
  margin: 0 auto;
  background-color: #ebb135;
  min-height: 100vh;
  min-width: 360px;

  @media (max-width: $large) {
    width: 1024px;
    background-color: aqua;
  }
  @media (max-width: $medium) {
    width: 768px;
    background-color: rgb(26, 255, 0);
  }
  @media (max-width: $small) {
    width: 360px;
    background-color: rgb(135, 25, 238);
  }
}
