@import "../App/App.module.scss";

.getBlock {
  width: 1168px;
  min-height: 711px;
  margin: 0 auto;
  margin-top: 140px;
  margin-bottom: 140px;
  background-color: $background_color;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    @extend %fontHeading;
    margin-bottom: 50px;
  }

  .cardContainer {
    border-color: #000;
    min-height: 537px;
    margin-bottom: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  button {
    @extend %buttons;
    width: 120px;
    margin-top: 21px;
  }

  @media (max-width: $large) {
    width: 904px;
    margin: 0 60px;
  }

  @media (max-width: $medium) {
    width: 704px;
    margin: 0 32px;
    .cardContainer {
      min-height: 794px;
    }
  }
  @media (max-width: $small) {
    width: 328px;
    margin: 0 16px;
    .cardContainer {
      min-height: 1624px;
    }
  }
}
